.datatable-container{
    width: 80%;
}

.table-container{
    margin-top: 5%;
}

.table-column-header{
    padding: 15px 8px;
    background: #F2DEC4;
    color: #BF8339;
}

.table-column-body{
    text-align: left;
    padding: 15px 8px;
    border-bottom: 1px #E0E0E0 solid;
    /* border-right: 1px #E0E0E0 solid; */
}